@import url("../map.component.css");

.stands-container {
  width: 100%;
  display: grid;
  grid-template-columns: 800px 1fr;
  grid-column-gap: 20px;
}

.map-container {
  padding: 0;
  width: 800px;
  height: 800px;
}

.stands-sidebar-container {
  display: grid;
  grid-row-gap: 20px;
  grid-template-rows: repeat(2, min-content);
}
