<div class="polygons-container">
  <div class="map-container">
    <div class="lds-dual-ring" [hidden]="mapLoaded"></div>
    <div id="map"></div>
  </div>
  <div class="polygons-sidebar-container">
    <div>
      <div class="row mb-3">
        <div class="col">
          <input id="polygonName" placeholder="Nazwa obszaru" class="form-control" [(ngModel)]="polygonName"/>
        </div>
        <div class="col">
          <select class="browser-default custom-select" (change)="onAreaSelected($event.target.value)" [ngModel]="selectedAreaTypeId">
            <option disabled selected value="">Typ obszaru</option>
            <option [value]="item.id" *ngFor="let item of areaTypes">{{item.name}}</option>
          </select>
        </div>
      </div>
      <button type="button" class="btn btn-light" (click)="savePolygon()">
        <i class="far fa-save"></i>
        {{ editedPolygonId ? 'Aktualizuj' : 'Stwórz'}} obszar
      </button>
      <button *ngIf="editedPolygonId" type="button" class="btn btn-light" (click)="cancelEdit()">
        <i class="far fa-save"></i> Anuluj edycję obszaru
      </button>
      <button type="button" class="btn btn-light" (click)="resetPolygon()">
        <i class="far fa-save"></i> Usuń wszystkie punkty
      </button>
    </div>
    <app-vertex-list [markers]="markers" (deleteMarkerEmitter)="deleteMarker($event)" class="list"></app-vertex-list>
    <app-polygon-list [polygon]="polygons" (polygonToEdit)="selectPolygon($event)" class="list"></app-polygon-list>
  </div>
</div>
